{{#each this}}
<h2 class="text-center">{{name.official}}</h2>
<div class="container-js">
    <ul class="half-width">
        <li class="Capital">Capital: {{capital}}</li>
        <li class="population">Population: {{population}}</li>
        <h3>Languages</h3>
        <ml>
            {{#each languages}}
            <li>{{name}}</li>
            {{/each}}
        </ml>
    </ul>
    <img class="half-width" src="{{flags.svg}}" alt="flag">
</div>
{{/each}}